
.navbar {
    padding: 20px 0;
  }
    
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
    
  .logo {
    color: #007bff; 
  }
    
  .navbar-nav .nav-link {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 1rem;
  }
    
  .navbar-nav .nav-item {
    display: inline-block;
  }
  
 
  .navbar-nav .nav-link {
    color: #333;
    text-transform: uppercase;
  }
    
  .navbar-nav .nav-link:hover {
    color: #007bff; 
  }
  
 
  .bg-light {
    background-color: #f8f9fa; 
  }
  