<div id="about-eco-oasis-nursery" class="site-footer">
    <div id="footer-container">
        <div id="footer-grid">
            <div id="left-footer-section" class="footer-section">
                <h2>About Eco Oasis Nursery</h2>
                <p>Eco Oasis Nursery germinated in 2014 from a promise to make ‘green and healthy’ a click away for all Indians.</p>
                <p>Having plants in our homes or in our offices doesn’t just look good, it also boosts our mood, makes us more productive, and cleans the air around us by absorbing toxins.</p>
                <p>Most of us being urban dwellers spending their days in apartments with limited access to parks and ecological reserves, have no way of feeling close to nature and experiencing the benefits of being around plants.</p>
                <p>Ordering a pizza is easy but ever heard of ordering a plant to your doorstep? This is where Eco Oasis Nursery comes in.</p>
                <p>We believe that Green is Good and are here to enable Indians to access plants in the easiest way possible – online! We are here to shape the future of gardening!</p>
                <p>A one-stop-shop for all gardening related requirements, Eco Oasis Nursery has more than 6000 products available online for delivery across India saving you numerous messy trips to various nurseries.</p>
                <p>We cater to all kinds of gardening needs ranging from plants, pots, tools, to curated plant-scaping solutions. Our ever-growing platform integrates nurseries and customers across India.</p>
                <p>If you’re new to being a plant parent, we’re here to make it easier. Our garden experts can provide you with guidance for detailed care every step of the way.</p>
                <p>Having served a network of 1 million happy plant parents, we can assure you that once you order a plant from us, you will emerge with your own home-grown veggies!</p>
                <p>We believe that every space can be made more beautiful with plants! Come, join us in our vision to make all spaces green and healthy!</p>
            </div>
            <div id="right-footer-section" class="footer-section">
                <h3>How we work</h3>
                <ul>
                    <li>Plants, simplified: Order plants ready to be placed in your home, office, or garden. Just Unpack, Relax and Enjoy your green buddies</li>
                    <li>Secure Shipping: Our unique packaging will hold the plants in place and let the plant breathe so that it reaches you fresh without any mess.</li>
                    <li>Detailed Guidance: Get detailed plant care instructions from the website as well as real-time guidance from our Garden Experts on Whatsapp.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
