/* Style for the footer container */
#footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for the footer grid */
#footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for the left footer section */
#left-footer-section {
    flex-basis: 60%;
}

/* Style for the right footer section */
#right-footer-section {
    flex-basis: 35%;
}

/* Style for the headings and paragraphs */
h2 {
    color: #008000;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

h3 {
    color: #008000;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Style for bullet points */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Style for list items */
li {
    margin-bottom: 5px;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    #footer-grid {
        flex-direction: column;
    }

    #left-footer-section,
    #right-footer-section {
        flex-basis: 100%;
    }
}
