<h1 align="center">Add Pebbles</h1>
<br>
<form #regForm="ngForm" (ngSubmit)="addPebble(regForm.value)">

  <table align="center" border="1px">
    
    <tr>
      <td>Pebble Name:</td>
      <td><input type="text" name="pebble_name" ngModel #pebble_name="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Pebble Description:</td>
      <td><input type="text" name="pebble_description" ngModel #pebble_description="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Price:</td>
      <td><input type="number" name="price" ngModel #price="ngModel" required></td>
    </tr>
    <br>
  </table>
  <div align="center">
    <br>
    <button type="submit">Add Pebble</button>
  </div>
</form>

<div *ngIf="isEditing">
  <h2>Edit Pebble</h2>
  <form (ngSubmit)="updatePebble()">
    <div>
      <label>Pebble Name:</label>
      <input type="text" [(ngModel)]="editedPebble.pebble_name" name="pebble_name" required>
    </div>
    <div>
      <label>Pebble Description:</label>
      <input type="text" [(ngModel)]="editedPebble.pebble_description" name="pebble_description" required>
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="editedPebble.price" name="price" required>
    </div>
    <button type="submit">Update</button>
  </form>
</div>


<table border="1" align="center">
  <tr>
    <th>ID</th>
    <th>Pebble Name</th>
    <th>Pebble Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let pebble of all_Pebbles">
    <td>{{ pebble.id }}</td>
    <td>{{ pebble.pebble_name }}</td>
    <td>{{ pebble.pebble_description }}</td>
    <td>{{ pebble.price }}</td>
    <td>
      <button type="button" (click)="editPebble(pebble)">Edit</button>
      <button type="button" (click)="deletePebble(pebble.id)">Delete</button>
    </td>
  </tr>
</table>
