<div class="container">
  <h2>Login</h2>
  <form #loginVal="ngForm" (ngSubmit)="login(loginVal.value)" class="login-form"> 
    <div class="form-group">
      <label for="email">Email ID:</label>
      <input type="email" id="email" name="email_ID" [(ngModel)]="email_ID" #email_ID1="ngModel" class="form-control" required minlength="4" maxlength="50">
      <div *ngIf="email_ID1.errors?.['required'] && email_ID1.touched" class="error-message">Please enter a valid email</div>
      <div *ngIf="email_ID1.errors?.['minlength'] && email_ID1.touched" class="error-message">Please enter at least 4 characters long email</div>
      <div *ngIf="email_ID1.errors?.['maxlength'] && email_ID1.touched" class="error-message">Please enter at most 50 characters long email</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" #password1="ngModel" class="form-control" required minlength="4" maxlength="20">
      <div *ngIf="password1.errors?.['required'] && password1.touched" class="error-message">Please enter a valid password</div>
      <div *ngIf="password1.errors?.['minlength'] && password1.touched" class="error-message">Please enter at least 4 characters long password</div>
      <div *ngIf="password1.errors?.['maxlength'] && password1.touched" class="error-message">Please enter at most 20 characters long password</div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" routerLink="/register" class="btn btn-secondary">Register</button>
  </form>
  <div class="google-sign-in">
    <app-google-sign-in></app-google-sign-in>
  </div>
</div>
