
 <h1 align="center">Add Pots</h1>
<br>
<form #regForm="ngForm" (ngSubmit)="addPot(regForm.value)">

  <table align="center" border="1px">
    
    <tr>
      <td>Pot Name:</td>
      <td><input type="text" name="pot_name" ngModel #pot_name="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Pot Description:</td>
      <td><input type="text" name="pot_description" ngModel #pot_description="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Price:</td>
      <td><input type="number" name="price" ngModel #price="ngModel" required></td>
    </tr>
    <br>
  </table>
  <div align="center">
    <br>
    <button type="submit">Add Pot</button>
  </div>
</form>

<div *ngIf="isEditing" style="text-align: center;">
  <h2>Edit Pot</h2>
  <form (ngSubmit)="updatePot()">
    <div>
      <label>Pot Name:</label>
      <input type="text" [(ngModel)]="editedPot.pot_name" name="pot_name" required>
    </div>
    <div>
      <label>Pot Description:</label>
      <input type="text" [(ngModel)]="editedPot.pot_description" name="pot_description" required>
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="editedPot.price" name="price" required>
    </div>
    <button type="submit">Update</button>
  </form>
</div>

<table border="1" align="center">
  <tr>
    <th>ID</th>
    <th>Pot Name</th>
    <th>Pot Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let pot of all_Pots">
    <td>{{ pot.id }}</td>
    <td>{{ pot.pot_name }}</td>
    <td>{{ pot.pot_description }}</td>
    <td>{{ pot.price }}</td>
    <td>
      <button type="button" (click)="editPot(pot)">Edit</button>
      <button type="button" (click)="deletePot(pot.id)">Delete</button>
    </td>
  </tr>
</table>
