<h1 align="center">Add Fertilizers</h1>
<br>
<form #regForm="ngForm" (ngSubmit)="addFertilizer(regForm.value)">

  <table align="center" border="1px">
    
    <tr>
      <td>Fertilizer Name:</td>
      <td><input type="text" name="fertilizer_name" ngModel #fertilizer_name="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Fertilizer Description:</td>
      <td><input type="text" name="fertilizer_description" ngModel #fertilizer_description="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Price:</td>
      <td><input type="number" name="price" ngModel #price="ngModel" required></td>
    </tr>
    <br>
  </table>
  <div align="center">
    <br>
    <button type="submit">Add Fertilizer</button>
  </div>
</form>

<div *ngIf="isEditing">
  <h2>Edit Fertilizer</h2>
  <form (ngSubmit)="updateFertilizer()">
    <div>
      <label>Fertilizer Name:</label>
      <input type="text" [(ngModel)]="editedFertilizer.fertilizer_name" name="fertilizer_name" required>
    </div>
    <div>
      <label>Fertilizer Description:</label>
      <input type="text" [(ngModel)]="editedFertilizer.fertilizer_description" name="fertilizer_description" required>
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="editedFertilizer.price" name="price" required>
    </div>
    <button type="submit">Update</button>
  </form>
</div>


<table border="1" align="center">
  <tr>
    <th>ID</th>
    <th>Fertilizer Name</th>
    <th>Fertilizer Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let fertilizer of all_Fertilizers">
    <td>{{ fertilizer.id }}</td>
    <td>{{ fertilizer.fertilizer_name }}</td>
    <td>{{ fertilizer.fertilizer_description }}</td>
    <td>{{ fertilizer.price }}</td>
    <td>
      <button type="button" (click)="editFertilizer(fertilizer)">Edit</button>
      <button type="button" (click)="deleteFertilizer(fertilizer.id)">Delete</button>
    </td>
  </tr>
</table>
