<app-header></app-header>
<h1 align="center">Cart Items</h1>
<br/>

<div class="container" *ngIf="products">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th> ProductName </th>
                <th> ProductDescription </th>
                <th> Price </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of products; index as i">
                <tr *ngIf="product.pebble_name">
                    <td> {{ product.pebble_name }} </td>
                    <td> {{ product.pebble_description }} </td>
                    <td> {{ product.price }} </td>
                    <td><button class="btn btn-danger" (click)="removeFromCart(i)">Delete</button></td>
                </tr>
                <tr *ngIf="product.pot_name">
                    <td> {{ product.pot_name }} </td>
                    <td> {{ product.pot_description }} </td>
                    <td> {{ product.price }} </td>
                    <!-- Adjust colspan to accommodate the button -->
                    <td colspan="2"></td>
                    <td><button class="btn btn-danger" (click)="removeFromCart(i)">Delete</button></td>
                </tr>
                <tr *ngIf="product.plant_name">
                    <td> {{ product.plant_name }} </td>
                    <td> {{ product.plant_description }} </td>
                    <td>{{product.price}}</td>
                    
                    <td><button class="btn btn-danger" (click)="removeFromCart(i)">Delete</button></td>
                </tr>
                <tr *ngIf="product.seed_name">
                    <td> {{ product.seed_name }} </td>
                    <td> {{ product.seed_description }} </td>
                    <td>{{product.price}}</td>
                    
                    <td><button class="btn btn-danger" (click)="removeFromCart(i)">Delete</button></td>
                </tr>
                <tr *ngIf="product.fertilizer_name">
                    <td> {{ product.fertilizer_name }} </td>
                    <td> {{ product.fertilizer_description }} </td>
                    <td>{{product.price}}</td>
                   
                    <td><button class="btn btn-danger" (click)="removeFromCart(i)">Delete</button></td>
                </tr>
                <tr *ngIf="product.accessory">
                    <td> {{ product.accessory_name }} </td>
                    <td> {{ product.accessory_description }} </td>
                    <td>{{product.price}}</td>
                    
                    <td><button class="btn btn-danger" (click)="removeFromCart(i)">Delete</button></td>
                </tr>
                
            </ng-container>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" align="right"><b>Total:</b></td>
                <td>{{ total }}</td>
            </tr>
            <tr>
                <td colspan="8" align="center">
                    <button class="btn btn-primary" (click)="buyNow()">Buy Now</button>
                </td>
            </tr>
            <tr>
                <td colspan="8" align="center">
                    <button class="btn btn-primary" (click)="feedback()">Submit Feedback</button>
                </td>
            </tr>
           
            
        </tfoot>
    </table>
</div>
