<div class="container">
  <h2 class="heading">Pot Details</h2>
  <div *ngIf="pots && pots.length > 0" class="row">
    <div *ngFor="let pot of pots" class="col-md-4 mb-4">
      <div class="pot-card card">
        <img [src]="pot.imageUrl" alt="{{ pot.pot_name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ pot.pot_name }}</h5>
          <p class="card-text">{{ pot.pot_description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ pot.price }}</p>
        </div>
        <div class="card-footer">
          <a href="/cart" class="btn btn-primary" (click)="addToCart(pot)">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(pots && pots.length > 0)" class="no-plants">No pots available.</div>
</div>
<footer>
  <div class="container">
    <h2 class="heading">About Pots and Planters</h2>
    <p>Your home garden will look much better with various types of planters available. Whether you want to hang plants on the wall or have them placed in pots and boxes, you will find the perfect planter to suit your liking.</p>
    <p>From traditional planter styles to modern, contemporary designs, you are sure to find one that will complement your home's style perfectly.</p>
    <p>Many types of planters also come with attractive features. They have an open drainage system, perforated holes, and special coatings to prevent warping and rotting.</p>
    <p>You can find these planters in materials like terracotta, fiberglass, metal, cast iron, ceramic, natural stone, granite, quartzite, acrylic, sandstone, etc.</p>
    <p>Moreover, a hanging ceiling planter, floor planter, window planter, hanging planter, and pot window planter also enhance the look of your indoor space.</p>
    <p>Decorative planters are also available for use on mantles. You can truly brighten up your porch and garden with them. From tiny individual planters suitable for plants that need floor space, you can have all of them.</p>
    <p>Even all the way up to large commercial-sized planters housing entire garden crops, there is a lot of variety to choose from.</p>
    <p>Some of the commonly used planter types are:</p>
    <ul>
      <li>Pot: Ideal for contemporary homes, these straight-edged, square-shaped planters come in any color. They also come in any material.</li>
      <li>Box: Ideal for modern homes, this sleek, square-shaped planter is perfect for those who want a monochromatic effect in their garden.</li>
      <li>Round and Square ones: These planters stand perfect for both indoor and outdoor use, especially on the deck or patio area.</li>
      <li>Rectangular ones: Some of these planters, also known as 'baker pots', come in a rectangular shape.</li>
    </ul>
    
    <h3>Types of Planters:</h3>
    <ul>
      <li><strong>Ceramic planters:</strong> Ceramic planters are a popular choice for adding style and elegance to indoor and outdoor spaces. They come in a variety of colors and designs, and provide good drainage for plants.</li>
      <li><strong>Hanging planters:</strong> Hanging planters are a great option for adding greenery to small spaces such as balconies and patios. They come in a variety of styles and can be hung from a ceiling or wall.</li>
      <li><strong>Self-watering pots:</strong> Self-watering pots are a convenient option for those who may not have time to water plants regularly. They come in a variety of sizes and styles, and can help ensure that plants receive the right amount of water.</li>
    </ul>
  </div>
</footer>
