<h2 style="text-align: center;"><b>Customers Feedback</b></h2>
<div style=" background-image: url('assets/images/cake1.jpg');" class="review-container">

  
  <form class="review-form" (ngSubmit)="addReview()">
    
    <label style="text-align: center;" for="text">Feedback:</label>
    <textarea style="width: 90% ; justify-content: center;" id="text" name="feedBack" [(ngModel)]="newReview.feedBack" required></textarea>

   
    <button (click)="onSubmit()" type="submit">Submit Feedback</button>
  </form>
</div>