/* review.component.css */

/* Adjusting input width and padding */
input {
  width: 80%; /* Changed from 100vw */
  padding-left: 20px; /* Adjusted padding */
}

/* Styling review container */
.review-container {
  max-width: 800px; /* Increased max-width */
  margin: 0 auto;
  border: 2px solid black;
  background-color: rgb(130, 207, 207);
}

/* Styling review item */
.review-item {
  margin-bottom: 30px; /* Increased margin */
  padding: 15px; /* Increased padding */
  border: 2px solid #ccc; /* Increased border width */
  border-radius: 10px; /* Increased border radius */
}

/* Styling review item paragraph */
.review-item p {
  margin: 5px 0; /* Adjusted paragraph margin */
}

/* Styling review form */
.review-form {
  margin-top: 30px; /* Increased margin */
}

/* Styling review form label */
.review-form label {
  display: block;
  margin-bottom: 10px; /* Increased margin */
}

/* Styling review form inputs and button */
.review-form textarea,
.review-form input[type="number"],
.review-form button {
  width: 40%; /* Increased width */
  margin-bottom: 15px; /* Increased margin */
}

/* Styling review form button */
.review-form button {
  padding: 12px; /* Adjusted padding */
  background-color: #009688; /* Changed button color */
  color: #fff;
  border: none;
  border-radius: 8px; /* Adjusted border radius */
  cursor: pointer;
}

/* Styling review form button hover effect */
.review-form button:hover {
  background-color: #00796b; /* Changed hover color */
}

/* Adjusting button position */
button {
  margin-left: 50%; /* Changed margin-left */
}
