
<div *ngIf="accessory && accessory.length > 0" class="row">
  <h2 class="heading">Accessories Details</h2>
    <div *ngFor="let accessory of accessory" class="col-md-4 mb-4">
      <div class="accessory-card card">
        <img [src]="accessory.imageUrl" alt="{{ accessory.accessory_name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ accessory.accessory_name }}</h5>
          <p class="card-text">{{ accessory.accessory_description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ accessory.price }}</p>
        </div>
        <div class="card-footer">
          
          <a href="/cart" class="btn-btn-primary" (click)="addToCart(accessory)">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(accessory && accessory.length > 0)">No accessories available.</div>
  <app-footer></app-footer>
  