.container {
  margin-top: 20px;
}

.accessory-card {
  margin-bottom: 20px;
  background-color: #d8ddd8;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 650px;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  color: #444;
}

.card-text {
  margin-bottom: 15px;
  color: #666;
}

.card-text strong {
  color: #008000;
}

.no-accessory {
  font-size: 1.5rem;
  color: #ff3333;
}

.heading {
  color: #008000;
}

@media (max-width: 767px) {
  .col-md-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
