<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo4.png" alt="Plants Logo" height="100px" width="250px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addPlants">Add Plants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addPots">Add Pots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addFertilizers">Add Fertilizers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addPebbles">Add Pebbles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addAccessories">Add Accessories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addSeeds">Add Seeds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/list">Customer list</a>
          </li>
         
        </ul>
        <form class="d-flex" role="search">
            <ul class ="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="login">Logout</a>
                </li>
            </ul>
         </form>
           
        </div>
    </div>
</nav>
<app-plants></app-plants>
