<div class="container">
  <h2 class="heading">Seeds Details</h2>
  <div *ngIf="seeds && seeds.length > 0" class="row">
    <div *ngFor="let seed of seeds" class="col-md-4 mb-4">
      <div class="pot-card card">
        <img [src]="seed.imageUrl" alt="{{ seed.seed_name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ seed.seed_name }}</h5>
          <p class="card-text">{{ seed.seed_description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ seed.price }}</p>
        </div>
        <div class="card-footer">
          <a href="/cart" class="btn btn-primary" (click)="addToCart(seed)">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(seeds && seeds.length > 0)" class="no-seeds">No seeds available.</div>
</div>
<footer>
  <div class="container">
    <h2 class="heading">About Seeds</h2>
    <p>Gardening has become an essential part of a healthy lifestyle and hence most modern families have adapted to the culture of home gardens. But to have a garden, one needs plants, and to grow healthy plants, one definitely needs healthy seeds. Seeds are an essential constituent in addition to soil and pots when we talk about gardening.</p>
    <h3>Why are seeds important?</h3>
    <p>Using healthy seeds creates the foundation of your garden, and you need to make a conscious choice while choosing the right seeds before you start gardening. NurseryLive has a plethora of seeds that can be used for both a flower or kitchen garden.</p>
    <p>We have a wide range of seeds curated from across the country. Some of them are as follows:</p>
    <ul>
      <li>avenue tree seeds</li>
      <li>forestry seeds</li>
      <li>flowering plant seeds</li>
      <li>grass seeds</li>
      <li>Indian and exotic herb seeds</li>
      <li>microgreen seeds</li>
      <li>Indian and imported vegetable seeds</li>
    </ul>
    <p>Plus, there is a colossal variety of flowering and tree seeds if you wish to create your own mini green space and enjoy the fresh air every day.</p>
    <h3>Features of our seeds</h3>
    <ul>
      <li>We only sell premium-quality seeds</li>
      <li>The seeds are well tested</li>
      <li>All our seeds are packed in tamper-proof packaging with proper growing and care instructions that help the customers to follow the process step-by-step.</li>
    </ul>
    <p>To put these seeds to rest in a comfortable home, you can browse through NurseryLive’s planters collection and pick the ones that suit your garden the most. You can also check our soil and fertilizers that go well with the seeds you choose.</p>
    <h3>Types of Seeds</h3>
    <ul>
      <li><strong>Vegetable seeds:</strong> These are seeds that grow into vegetables, such as tomatoes, carrots, and beans. Planting vegetable seeds is a great way to ensure you have fresh produce in your garden.</li>
      <li><strong>Flower seeds:</strong> These seeds grow into beautiful flowers, such as roses, sunflowers, and lilies. Flower seeds can add a pop of color to any garden.</li>
      <li><strong>Herb seeds:</strong> Herb seeds grow into plants such as basil, parsley, and thyme. These plants can be used in cooking or for medicinal purposes.</li>
      <li><strong>Organic seeds:</strong> These are seeds that are grown without the use of synthetic pesticides or fertilizers. Organic seeds are a great choice for those who are conscious of what they put in their bodies.</li>
      <li><strong>Fruit seeds:</strong> These seeds grow into fruit trees, such as apple, orange, and peach trees. Growing fruit trees from seed can be a rewarding experience.</li>
    </ul>
    

