.container {
  margin-top: 20px;
}

.pot-card {
  margin-bottom: 20px;
  background-color: #d8ddd8; /* Change background color to light green */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 650px; /* Adjust height as needed */
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  max-height: 300px; /* Increase the height of the image */
  object-fit: cover;
}

.card-body {
  padding: 1.5rem; /* Increase padding */
}

.card-title {
  font-size: 1.5rem; /* Increase font size of the title */
  color: #444; /* Change text color to darker */
}

.card-text {
  margin-bottom: 15px; /* Increase margin */
  color: #666; /* Adjust text color */
}

.card-text strong {
  color: #008000; /* Change price color to green */
}

.no-seeds {
  font-size: 1.5rem; /* Adjust font size */
  color: #ff3333; /* Change text color to red */
}

.heading {
  color: #008000; /* Change heading color to green */
}

@media (max-width: 767px) {
  .col-md-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
