<h1 align="center">Add Seeds</h1>
<br>
<form #regForm="ngForm" (ngSubmit)="addSeed(regForm.value)">

  <table align="center" border="1px">
    
    <tr>
      <td>Seed Name:</td>
      <td><input type="text" name="seed_name" ngModel #seed_name="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Seed Description:</td>
      <td><input type="text" name="seed_description" ngModel #seed_description="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Price:</td>
      <td><input type="number" name="price" ngModel #price="ngModel" required></td>
    </tr>
    <br>
  </table>
  <div align="center">
    <br>
    <button type="submit">Add Seed</button>
  </div>
</form>

<table border="1" align="center">
  <tr>
    <th>ID</th>
    <th>Seed Name</th>
    <th>Seed Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let seed of all_Seeds">
    <td>{{ seed.id }}</td>
    <td>{{ seed.seed_name }}</td>
    <td>{{ seed.seed_description }}</td>
    <td>{{ seed.price }}</td>
    <td>
      <button type="button" (click)="editSeed(seed)">Edit</button>
      <button type="button" (click)="deleteSeed(seed.id)">Delete</button>
    </td>
  </tr>
</table>

<div *ngIf="isEditing">
  <h2>Edit Seed</h2>
  <form (ngSubmit)="updateSeed()">
    <div>
      <label>Seed Name:</label>
      <input type="text" [(ngModel)]="editedSeed.seed_name" name="seed_name" required>
    </div>
    <div>
      <label>Seed Description:</label>
      <input type="text" [(ngModel)]="editedSeed.seed_description" name="seed_description" required>
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="editedSeed.price" name="price" required>
    </div>
    <button type="submit">Update</button>
  </form>
</div>
