<app-header></app-header>
<div class="container">
  <h2 class="heading">Pebbles Details</h2>
  <div *ngIf="pebbles && pebbles.length > 0" class="row">
    <div *ngFor="let pebble of pebbles" class="col-md-4 mb-4">
      <div class="pebble-card card">
        <img [src]="pebble.imageUrl" alt="{{ pebble.pebble_name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ pebble.pebble_name }}</h5>
          <p class="card-text">{{ pebble.pebble_description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ pebble.price }}</p>
        </div>
        <div class="card-footer">
          <a href="/cart" class="btn btn-primary" (click)="addToCart(pebble)">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(pebbles && pebbles.length > 0)" class="no-plants">No pebbles available.</div>
</div>
<footer>
  <div class="container">
    <h2 class="heading">About Pebbles</h2>
    <ul>
      <li>Just like every beautiful house can do with a little extra help, so can your garden. Pebbles bring your garden to life and add to its beauty.</li>
      <li>Individual plants in pots can sometimes look empty. A wonderful way to make them look fuller and prettier is by simply adding some coloured pebbles. Varying the sizes and colours are perfect for creating a unique look.</li>
      <li>An amazing way to add colour contrast to your flowers is by combining your plant with some coloured ones. This can help create a striking effect in your garden.</li>
      <li>Pebbles can be bought in a variety of shapes and sizes. Large river ones are ideal for paved paths.</li>
      <li>Small ones in an assortment of colours are a great addition to your pots. Sandy textured pebbles can be used as fillers.</li>
      <li>There are several intelligent uses for pebbles in gardens. You can use coloured ones to create an illusion of hills, lakes, or even undulating land.</li>
      <li>They can also help break the monotony in flat space and add texture and depth to the appearance of your plants.</li>
      <li>The great thing about pebbles is that they are a cost-effective solution to add texture, character, and some glamour to your garden. They’re so easy to work with that they can easily become your next gardening DIY project.</li>
      <li>Although these look simple and unassuming, there is a great deal of value they bring to the aesthetics of your garden.</li>
      <li>They are a durable investment that can bring your garden, plenty of attention and praise. All you need to do is think and use your creative mind to outdo the expectations for your garden.</li>
    </ul>
    <p>Eco Oasis Nursery brings you the largest collection of pebbles and interesting accessories to go with them. Browse through our website to help change the look of your garden and tell a completely different story!</p>
    
  
