<app-header></app-header>
<div class="container">
  <h2 class="heading">Fertilizer Details</h2>
  <div *ngIf="fertilizers && fertilizers.length > 0" class="row">
    <div *ngFor="let fertilizer of fertilizers" class="col-md-4 mb-4">
      <div class="fertilizer-card card">
        <img [src]="fertilizer.imageUrl" alt="{{ fertilizer.fertilizer_name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ fertilizer.fertilizer_name }}</h5>
          <p class="card-text">{{ fertilizer.fertilizer_description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ fertilizer.price }}</p>
        </div>
        <div class="card-footer">
          <a href="/cart" class="btn btn-primary" (click)="addToCart(fertilizer)">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(fertilizers && fertilizers.length > 0)" class="no-pots">No fertilizers available.</div>
</div>
<footer>
  <div class="container">
    <h2 class="heading">About Fertilizers</h2>
    <p>Just like humans need food for sustainability, plants need soil and fertilizers that provide all the essential nutrients for them to grow. Whatever your gardening project, choosing the correct soil and fertilizers is crucial for your plants and garden’s health. At Nurserylive, we provide just that.</p>
    <p>If you are a gardening novice or an enthusiast looking to grow your own flower or vegetable garden, then these are the most convenient and cost-effective methods to ensure your plants are growing well.</p>
    <p>The fertilizers are rich in nitrogen, phosphorus, and potassium that help your garden thrive. Our nutrient-rich soil encourages regular flowering and healthy foliage.</p>
    <p>From tonics to the potting soil mix, plant food to insect oil, organic poultry manure to plant and flower booster, we have it all in our soil and fertilizer collection.</p>
    <p>Under our soil and fertilizer category, you will find Soil Mix for lilies and bulbs, Polestar Organic Waste Compost, Plant Protection and Enhancer Kit, Coir Coin, Sanjeevani Rose Blooming Tonic, Jeevanamrut, Neem Raksha Oil amongst many other things.</p>
    <p>A little decor never hurt anybody. Along with our soil and fertilizers, you can also check our range of miniature toys to keep your plants looking pretty while looking healthy.</p>
    <p>Give your garden its best chance to bloom with Nurserylive’s range of soil and fertilizers that help you maintain a lush display of plants.</p>
    <h3>Types of Fertilizers:</h3>
    <ul>
      <li><strong>Organic gardening soil:</strong> Organic gardening soil is made from natural materials and is free from synthetic chemicals. It provides a healthy environment for plants to grow and can improve soil fertility.</li>
      <li><strong>Potting mix:</strong> Potting mix is a blend of soil, sand, and organic materials that is specifically designed for container gardening. It provides good drainage and allows for easy root growth.</li>
      <li><strong>Compost:</strong> Compost is a nutrient-rich soil amendment made from decomposed organic matter. It helps improve soil quality and can be used as a natural fertilizer.</li>
      <li><strong>Vermicompost:</strong> Vermicompost is a type of compost that is made with the help of worms. It is high in nutrients and is a great option for organic gardening.</li>
      <li><strong>Peat moss:</strong> Peat moss is a natural material that is often used as a soil amendment. It improves soil structure and water retention.</li>
      <li><strong>Perlite:</strong> Perlite is a lightweight volcanic material that is often added to soil to improve drainage and aeration.</li>
      <li><strong>Vermiculite:</strong> Vermiculite is a natural mineral that is often added to soil to improve water retention and aeration.</li>
    </ul>
  </div>
</footer>

