<div class="container">
  <h2 class="heading">Plant Details</h2>
  <div *ngIf="plants && plants.length > 0" class="row">
    <div *ngFor="let plant of plants" class="col-md-4 mb-4">
      <div class="pot-card card">
        <img [src]="plant.imageUrl" alt="{{ plant.plant_name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ plant.plant_name }}</h5>
          <p class="card-text">{{ plant.plant_description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ plant.price }}</p>
        </div>
        <div class="card-footer">
          <a href="/cart" class="btn btn-primary" (click)="addToCart(plant)">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(plants && plants.length > 0)" class="no-pots">No plants available.</div>
</div>
<footer>
  <div class="container">
    <div>
      <h2>About Plants</h2>
      <p>Plants are everywhere, but did you know that they have a lot more to offer than just pretty flowers? These green wonders are essential to our survival, and they have some seriously cool tricks up their sleeves.</p>
      <p>From purifying the air to healing our bodies, plants are the ultimate multitaskers.</p>
      <p>So, let's dive into the world of plants in this witty listicle format, and see what these botanical beauties are all about.</p>
      <h3>Popular plant types</h3>
      <p>Plants come in all shapes and sizes, from tiny succulents to towering trees. Some of the most popular plant types include the Snake Plant, Spider Plant, Monstera, and Fiddle Leaf Fig.</p>
      <p>Each of these plants has its unique characteristics that make them stand out, and they're all a great choice for adding some greenery to your home.</p>
      <h3>Why plants are important</h3>
      <p>Apart from their aesthetic appeal, plants are crucial for the survival of our planet. They produce oxygen, absorb carbon dioxide, and help regulate the earth's climate. Plants also provide food for us and countless other animals, and they play a vital role in maintaining the delicate balance of our ecosystem.</p>
      <h3>Search trends in the last 10 years</h3>
      <p>According to Google Trends, searches related to plants have been on the rise over the past decade. People are becoming more interested in gardening, houseplants, and sustainable living.</p>
      <p>Searches for terms like "indoor plants," "succulents," and "air purifying plants" have all increased significantly, indicating a growing interest in all things green.</p>
      <h3>Research happening</h3>
      <p>Recent research has shown that plants can do some pretty incredible things. They can help purify the air in our homes, improve our mental health, and even fight cancer. Scientists are also exploring the potential of plants as a source of renewable energy, with some promising results.</p>
      <h3>Grow instructions</h3>
      <p>Growing plants can be a rewarding experience, but it can also be a bit daunting if you're new to gardening. Fortunately, many plants are relatively easy to care for, and you don't need a green thumb to get started.</p>
      <p>Most plants require soil, water, and sunlight to thrive, so make sure to provide them with the right conditions.</p>
      <h3>Care instructions</h3>
      <p>While each plant has its unique care requirements, some general tips apply to most plants.</p>
      <p>Water your plants regularly, but don't overwater them as this can lead to root rot. Make sure they have enough sunlight, but avoid exposing them to direct sunlight for too long.</p>
      <p>Finally, keep an eye out for pests and diseases and take action immediately if you spot any issues.</p>
      <h3>Medicinal uses</h3>
      <p>Plants have been used for medicinal purposes for thousands of years, and many modern medicines are derived from plants. For example, aspirin comes from willow bark, and the cancer drug Taxol comes from the Pacific Yew tree.</p>
      <p>Herbal remedies are also popular, with many plants believed to have healing properties.</p>
      <h3>Ornamental uses</h3>
      <p>Plants are a popular choice for decorating homes, gardens, and public spaces. They add color, texture, and life to any environment and can be used to create a wide range of styles.</p>
      <p>Whether you prefer a minimalist look with a few carefully chosen plants or a lush, tropical paradise, there's a plant out there for you.</p>
      <h3>Important note or warning</h3>
      <p>While plants are generally safe and beneficial, it's essential to be aware that some plants can be toxic to humans and animals. Make sure to research any plants you plan to bring into your home or garden and keep them out of reach of children and pets.</p>
      <p>Additionally, some plants can be invasive and damage native ecosystems, so make sure to only plant non-invasive species in your garden.</p>
      <p>In conclusion, plants are pretty amazing, and they have a lot to offer. From improving air quality to fighting cancer, plants are the ultimate multitaskers.</p>
      <p>They're also a popular choice for decorating homes and public spaces, and with a little care, they can thrive in almost any environment. However, it's essential to be aware that some plants can be toxic or invasive, so make sure to do your research before bringing them into your home or garden.</p>
      <p>So, whether you're a seasoned gardener or a newbie plant parent, there's always something new to learn about these botanical wonders. So, get your hands dirty and start exploring the world of plants today!</p>
      <h3>Indoor plants</h3>
      <p>Indoor plants are a great way to bring some greenery into your home or office. They can help purify the air, boost your mood, and add a touch of natural beauty to any space. From low-maintenance succulents to leafy tropicals, there's an indoor plant out there for everyone.</p>
      <h3>House plants</h3>
      <p>House plants are a popular choice for decorating homes and apartments. They come in all shapes and sizes, from tiny terrariums to towering fiddle leaf figs. House plants can help improve air quality, reduce stress, and create a welcoming atmosphere in any room.</p>
      <h3>Outdoor plants</h3>
      <p>Outdoor plants are a great way to add some color and life to your garden or patio. They can range from flowering shrubs to fruit trees
  
  
