

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
    
    
}
.container1 {
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
    
   
}

.icon-container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
   
   
}
.icon-container2 {
    
    max-width: 1100px;
    display: flex;
    
    margin-bottom: 20px;
    
   
}

.icon {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #100f0f;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
}

.icon img {
    width: 200px;
    height:200px;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
    background-size: cover; 
    
}

.icon span {
    margin-top: 5px;
    display: block;
}

.icon:hover {
    background-color: #2980b9;
}

.description {
    text-align: left;
    padding: 0 20px;
    color: #333333;
}

.icon-image {
    object-fit: cover;
    background-size: cover;
   
}
.circle{
    width:150px;
    height:150px;
    background-color: #333333;
    border-radius: 100px;

}
