<app-header></app-header>
<div class="container">
    <div class="icon-container">
        <div class="icon" title="Plants" routerLink="/plants">
            <img src="assets/images/plants1.jpg" alt="Plants Image" class="icon-image">
           
        </div>
        
        
        <div class="icon" title="Seeds" routerLink="/seeds">
            <img src="assets/images/seeds1.jpg" alt="Seeds Image" class="icon-image">
            <span>Seeds</span>
        </div>
        <div class="icon" title="Pots" routerLink="/pots">
            <img src="assets/images/pots4.jpg" alt="Pots Image" class="icon-image">
            <span>Pots</span>
        </div>
        <div class="icon" title="Fertilizers" routerLink="/fertilizers">
            <img src="assets/images/fertilizers.jpg" alt="Fertilizers Image" class="icon-image">
            <span>Fertilizers</span>
        </div>
        <div class="icon" title="Accessories" routerLink="/accessories">
            <img src="assets/images/Accessories.jpg" alt="Accessories Image" class="icon-image">
            <span>Accessories</span>
        </div>
        <div class="icon" title="Pebbles" routerLink="/pebbles">
            <img src="assets/images/pebbles1.jpg" alt="Pebbles Image" class="icon-image">
            <span>Pebbles</span>
        </div>
    </div>
    <div class="icon-container2">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p>Plants</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>Seeds</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>pots</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>Fertilizers</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>Accessories</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>Pebbles</p>
        
    </div>

</div>
<div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 " style="height: 480px;" src="assets/images/carousel2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="height: 480px;"src="assets/images/carousel3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 "style="height: 480px;" src="assets/images/carousel1.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="container1">
    <div bsCarousel class="carousel" noPause="true">
        <div *ngFor="let item of items" class="item">
            <br><br>
            <div class="row">
               
                <div class="col-md-6">
                    <img src="{{ item.image }}" alt="{{ item.title }}" class="img-fluid" style="width: 600px; height: 250px;">
                <br><br>

                </div>
                <div class="col-md-6">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
   