<h1 align="center">Add Accessories</h1>
<br>
<form #accessoryForm="ngForm" (ngSubmit)="addAccessory(accessoryForm.value)">

  <table align="center" border="1px">
    
    <tr>
      <td>Accessory Name:</td>
      <td><input type="text" name="accessory_name" ngModel #accessory_name="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Accessory Description:</td>
      <td><input type="text" name="accessory_description" ngModel #accessory_description="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Price:</td>
      <td><input type="number" name="price" ngModel #accessory_price="ngModel" required></td>
    </tr>
    <br>
  </table>
  <div align="center">
    <br>
    <button type="submit">Add Accessory</button>
  </div>
</form>

<div *ngIf="isEditing">
  <h2>Edit Accessory</h2>
  <form (ngSubmit)="updateAccessory()">
    <div>
      <label>Accessory Name:</label>
      <input type="text" [(ngModel)]="editedAccessory.accessory_name" name="accessory_name" required>
    </div>
    <div>
      <label>Accessory Description:</label>
      <input type="text" [(ngModel)]="editedAccessory.accessory_description" name="accessory_description" required>
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="editedAccessory.price" name="price" required>
    </div>
    <button type="submit">Update</button>
  </form>
</div>


<table border="1" align="center">
  <tr>
    <th>ID</th>
    <th>Accessory Name</th>
    <th>Accessory Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let accessory of all_Accessories">
    <td>{{ accessory.id }}</td>
    <td>{{ accessory.accessory_name }}</td>
    <td>{{ accessory.accessory_description }}</td>
    <td>{{ accessory.price }}</td>
    <td>
      <button type="button" (click)="editAccessory(accessory)">Edit</button>
      <button type="button" (click)="deleteAccessory(accessory.id)">Delete</button>
    </td>
  </tr>
</table>
