<table class="customer-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Mobile No</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.first_name }}</td>
        <td>{{ customer.last_name }}</td>
        <td>{{ customer.dob }}</td>
        <td>{{ customer.mobile_no }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.pincode }}</td>
        <td>{{ customer.email }}</td>
      </tr>
    </tbody>
  </table>
  