
.customer-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .customer-table th, .customer-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .customer-table th {
    background-color: #f2f2f2;
  }
  
  .customer-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .customer-table tbody tr:hover {
    background-color: #ddd;
  }
  