<h1 align="center">Add Plants</h1>
<br>
<form #regForm="ngForm" (ngSubmit)="addPlant(regForm.value)">

  <table align="center" border="1px">
    
    <tr>
      <td>Plant Name:</td>
      <td><input type="text" name="plant_name" ngModel #plant_name="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Plant Description:</td>
      <td><input type="text" name="plant_description" ngModel #plant_description="ngModel" required></td>
    </tr>
    <br>
    <tr>
      <td>Price</td>
      <td><input type="number" name="price" ngModel #price="ngModel" required></td>
    </tr>
    <br>
  </table>
  <div align="center">
    <br>
    <button type="submit">Add Plant</button>
  </div>
</form>


<div *ngIf="isEditing">
  <h2>Edit Plant</h2>
  <form (ngSubmit)="updatePlant()">
    <div>
      <label>Plant Name:</label>
      <input type="text" [(ngModel)]="editedPlant.plant_name" name="plant_name" required>
    </div>
    <div>
      <label>Plant Description:</label>
      <input type="text" [(ngModel)]="editedPlant.plant_description" name="plant_description" required>
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="editedPlant.price" name="price" required>
    </div>
    <button type="submit">Update</button>
  </form>
</div>


<table border="1" align="center">
  <tr>
    <th>ID</th>
    <th>Plant Name</th>
    <th>Plant Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let plant of all_Plants">
    <td>{{ plant.id }}</td>
    <td>{{ plant.plant_name }}</td>
    <td>{{ plant.plant_description }}</td>
    <td>{{ plant.price }}</td>
    <td> 
       <button type="button" (click)="deletePlant(plant.id)">
        Delete
      </button> 
      <button type="button" (click)="editPlant(plant)">
        Edit
      </button>
    </td>
  </tr>
</table>
<app-footer></app-footer>
