/* styles.css */

/* Custom Styles */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Light gray background */
  }
  
  .registration-box {
    width: 400px;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
  
  .registration-box h2 {
    margin-bottom: 20px;
    color: #212529; /* Dark gray text */
  }
  
  .registration-box label {
    color: #495057; /* Medium dark gray text */
  }
  
  .registration-box input[type="text"],
  .registration-box input[type="password"],
  .registration-box input[type="date"],
  .registration-box input[type="email"] {
    width: 100%;
    margin-bottom: 10px; /* Added spacing between inputs */
  }
  
  .registration-box button[type="submit"] {
    width: 100%;
    margin-top: 10px; /* Added spacing between inputs and button */
  }
  