<app-header></app-header>
    <div class="registration-container">
      <div class="registration-box">
        <h2><i class="bi bi-person-plus-fill"></i> Register</h2>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" formControlName="first_name">
          <div *ngIf="registrationForm.get('first_name')?.invalid && (registrationForm.get('first_name')?.dirty || registrationForm.get('first_name')?.touched)" class="error">
            First Name is required
          </div>
    
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" formControlName="last_name">
          <div *ngIf="registrationForm.get('last_name')?.invalid && (registrationForm.get('last_name')?.dirty || registrationForm.get('last_name')?.touched)" class="error">
            Last Name is required
          </div>
    
          <label for="dob">Date of Birth:</label>
          <input type="date" id="dob" formControlName="dob">
          <div *ngIf="registrationForm.get('dob')?.invalid && (registrationForm.get('dob')?.dirty || registrationForm.get('dob')?.touched)" class="error">
            Date of Birth is required
          </div>
    
          <label for="mobile_no">Mobile Number:</label>
          <input type="text" id="mobile_no" formControlName="mobile_no">
          <div *ngIf="registrationForm.get('mobile_no')?.invalid && (registrationForm.get('mobile_no')?.dirty || registrationForm.get('mobile_no')?.touched)" class="error">
            Mobile Number is required and must be a valid 10-digit number
          </div>
    
          <label for="address">Address:</label>
          <input type="text" id="address" formControlName="address">
          <div *ngIf="registrationForm.get('address')?.invalid && (registrationForm.get('address')?.dirty || registrationForm.get('address')?.touched)" class="error">
            Address is required
          </div>
    
          <label for="pincode">Pincode:</label>
          <input type="text" id="pincode" formControlName="pincode">
          <div *ngIf="registrationForm.get('pincode')?.invalid && (registrationForm.get('pincode')?.dirty || registrationForm.get('pincode')?.touched)" class="error">
            Pincode is required and must be a 6-digit number
          </div>
    
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email">
          <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)" class="error">
            Email is required and must be a valid email address
          </div>
    
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password">
          <div *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)" class="error">
            Password is required
          </div>
    
          <label for="confirm_password">Confirm Password:</label>
          <input type="password" id="confirm_password" formControlName="confirm_password">
          <div *ngIf="registrationForm.get('confirm_password')?.invalid && (registrationForm.get('confirm_password')?.dirty || registrationForm.get('confirm_password')?.touched)" class="error">
            Confirm Password is required and must match Password
          </div>
    
          <button type="submit" [disabled]="!registrationForm.valid">Register</button>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
    
